<div class="page">
	<div class="page-background" [ngStyle]="{'background-image': 'url(' + page.jumbotronImage + ')'}">
		<h1>{{ page.callout }}</h1>
		<div class="gradient"></div>
	</div>
	<div class="page-card">
		<div class="page-card-nav" *ngIf="page.navigation">
			<ul>
				<li *ngFor="let navItem of page.navigation"><a [routerLink]="['/'] + navItem.uri.split(',')">{{ navItem.label }}</a></li>
			</ul>
		</div>
		<div class="page-component"  *ngFor="let component of page.components" [ngSwitch]="component.type">
			<page-stack *ngSwitchCase="'stack'" [stack]="component.content"></page-stack>
			<page-location *ngSwitchCase="'location'" [timeChange]="timeChange"></page-location>
			<page-markdown *ngSwitchCase="'markdown'" [content]="component.content[0]"></page-markdown>
			<page-form *ngSwitchCase="'form'" [title]="component.content[0].title" [name]="component.content[0].formName"></page-form>
			<page-image-card *ngSwitchCase="'image-card'" [type]="permalink"></page-image-card>
		</div>
	</div>
</div>
