<div class="page">
	<div class="page-background">
		<div class="gradient"></div>
	</div>
	<div class="page-card">
		<div class="video-block">
			<div class="video-image"></div>
			<div class="video-wrapper">
				<iframe [src]="sermon.videoURI" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
			</div>
			<div class="video-block-container">
				<div class="video-details">
					<span id="video-type">Sermons</span>
					<h1>{{ sermon['title'] }}</h1>
					<a *ngIf="sermon.series" class="series">{{ sermon['series'] }}</a>
					<span>{{ sermon['speaker'] }}</span>
					<span id="date">{{ sermon['date_preached'] }}</span>
					<p>{{ sermon['description'] }}</p>
					<a class="cta">Read More</a>
				</div>
			</div>
			<div class="video-social">
				<a class="cta">Share</a>
			</div>
		</div>
	</div>
</div>
