<div class="fc-stack">
	<div class="fc-stack-item" *ngFor="let stackItem of stack">
		<div class="fc-stack-container">
			<div class="fc-stack-image" [ngStyle]="{'background-image': 'url(' + stackItem['image'] + ')'}"></div>
			<div class="fc-stack-text">
				<h3>{{ stackItem['title'] }}</h3>
				<div><markdown>{{ stackItem['content'] }}</markdown></div>
				<a class="cta" *ngIf="stackItem.action && stackItem.action.internalUrl" [routerLink]="['/'] + stackItem['action']['internalUrl']">{{ stackItem['action']['label'] }}</a>
				<a class="cta" *ngIf="stackItem.action && stackItem.action.externalUrl" href="{{ stackItem['action']['externalUrl'] }}">{{ stackItem['action']['label'] }}</a>
			</div>
		</div>
	</div>
</div>
