.fc-stack {
  overflow: hidden;
	display: block;
	margin: 0 auto;
	width: 100%;
}

.fc-stack-item {
	width: 80%;
  display: block;
  margin: 1em auto;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  overflow: hidden;
  color: #333;
}

.fc-stack-item h3 {
	font-weight: 300;
  font-size: 1.5em;
  margin: 1em 0 .5em;
}

.fc-stack-item div {
	display: block;
	margin-bottom: .5em;
}

.fc-stack-container {
	display: flex !important;
	flex-wrap: wrap;
	flex-direction: row;
}

.fc-stack-item:nth-child(even) .fc-stack-container {
	flex-direction: row-reverse;
}

.fc-stack-text {
	width: 100%;
	display: block;
}

.fc-stack-image {
	width: 100%;
	margin-right: 1em;
	height: 150px;
	background-size: cover;
	background-position: center center;
	/*box-sizing: border-box;*/
	border: 12px solid #efefef;
}

@media screen and (min-width: 620px) {

	.fc-stack-text {
		width: 60%;
	}

	.fc-stack-image {
		width: calc(35% - 1em);
		height: 200px;
	}
}
