.page-markdown {
	width: 80%;
	display: block;
	margin: 0 auto;
}

h2 {
	font-size: 1.6em;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	color: #333;
	text-align: center;
	margin: 2em 0 1em;
}
