.card-container {
  display: flex;
  width: 100%;
	flex-wrap: wrap;
}

.image-card {
  width: 30%;
  margin: 1em;
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),
							0 2px 2px 0 rgba(0,0,0,.14),
							0 1px 5px 0 rgba(0,0,0,.12);
	transition: box-shadow .3s ease-out;
	-webkit-transition: box-shadow .3s ease-out;
	-moz-transition: box-shadow .3s ease-out;
	cursor: pointer;
}

.image-card:hover {
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.3),
							0 2px 2px 0 rgba(0,0,0,.24),
							0 1px 5px 0 rgba(0,0,0,.22);
}

.card-image {
  width: 100%;
  display: block;
  padding-bottom: 100%;
  background-size: cover;
}

.card-image.video {
	padding-bottom: 56%;
}

.card-meta {
  display: block;
  width: 100%;
  overflow: hidden;
	background: #fff;
	box-sizing: border-box;
	padding: .5em;
}

.card-meta h2 {
  margin: .5em 0;
  text-align: left;
	font-size: 1.4em;
}

.card-meta span {
	color: #666;
	font-weight: 300;
}

.card-meta-data {
  font-size: .8em;
  color: #666;
  font-weight: 300;
}

.tag {
  padding: .2em 1em;
  width: 40%;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  float: left;
}

.date {
  display: block;
  float: left;
  margin: .2em .5em;
	color: #555;
}

@media screen and (max-width: 640px) {
	.card-container {
		display: block;
		overflow: hidden;
	}

	.image-card {
		width: 95%;
		display: block;
		margin: 1em auto;
		overflow: hidden;
		box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),
								0 2px 2px 0 rgba(0,0,0,.14),
								0 1px 5px 0 rgba(0,0,0,.12);
	}

	.card-image {
		width: 25%;
		padding-bottom: 25%;
		float: left;
	}

	.card-image.video {
		width: 35%;
		padding-bottom: 20%;
		background-position: center;
	}

	.card-meta {
		width: 75%;
		float:left;
		clear: right;
	}

	.card-meta.video {
		width: 65%;
	}
}
